.header-bg{
    background-color: #033270;
    color: #9DCEE2;
    transition: 1s;
}
.header-bg a:hover{
    border-bottom: 0.5px solid white;


}
.logOut-btn{
    margin-right: 8px;
    padding: 5px 8px;
    color:white;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(#033270, #22629D);
    transition: 0.5s;
}

.brand-title{
    color: #cf5959;
}