donor-title{
    background-image: linear-gradient(#ffff, #FEDFD4);
}
.donor-title h2{
    color: #033270;
}
.donor-contain{
    
   
}
.contain img{
    height: 80px;
   
}
.contain1{
    height: 80px;
   
}
